@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-modify: none;
}

:root {
    --default-bg-color : #1d1d1d;
    --song-list: #42424b;
    --song-list-hover: #f1f7ff6b;
}

/* utils css */
.cursor-pointer {
    cursor: pointer !important;
}
/*  */

/* desc */
#desc {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}

body {
    font-family: 'Poppins';
    min-height: 100vh;
    overflow-x: hidden;
    transition: background-color 0.5s ease-in-out;
    position: relative;
    z-index: 1;
    background-color: var(--default-bg-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center ;
    position: relative;
}

.video-bg-continer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.video-bg-continer.list-hovering {
    opacity: 1 !important;
}
.video-bg-continer.player-active {
    opacity: 1 !important;
}

.video-bg-continer video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    /* opacity: 1; */
}

.video-bg-continer .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.725);
    z-index: 1;
    /* opacity: 1; */
}

.home-page {
    z-index: 2;
    display: none;
}

.home-page.current-page {
    display: block;
}

.home-page header {
    margin: 3rem 0;
    text-align: center;
    letter-spacing: 2px;
}

.song-list-container {
    min-width: 400px;
    max-width: 600px;
    width: 100%;
    /* background: yellow; */
}

.song-list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem 1.25rem;
    background-color: var(--song-list);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45176);
    transition: all 0.3s ease-in-out;
}

.song-list .title {
    font-size: 18px;
}

.song-list {
    margin-bottom: 0.75rem;
}

.song-list:hover {
    transform: translateY(-5%);
    background-color: var(--song-list-hover)
}

.song-list img {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 10px;
}


/* player page */
.player-page-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.group-player {
    display: none;
}

.group-player.current-page {
    display: block !important;
}

.control-section {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 2;
}

.control-section button {
    all: unset;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    backdrop-filter: brightness(190%);
    transition: all 0.4s ease-in-out;
}   

.control-section button:hover {
    transform: scale(1.1);
}

.player-page-container .music-player-box {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    /* backdrop-filter: brightness(110%); */
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 24px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    position: relative;
}

/* apple shortcuts */
.apple-shortcuts {
    position: absolute;
    display: flex;
    gap: 5px;
    top: 5%;
    right: 5%;
}

.apple-shortcuts .circle {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}

.apple-shortcuts .circle:nth-last-child(1) { background-color: #FF6B6B; }
.apple-shortcuts .circle:nth-last-child(2) { background-color: #FFD93D; }
.apple-shortcuts .circle:nth-last-child(3) { background-color: #6BCB77; }
/*  */

.music-player-header #currentSongPicture {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 15px;
}

.music-player-header {
    display: flex;
    align-items: center;
    gap: 0.95rem;
    margin-bottom: 24px;
}

.current-song-detail #currentSongName {
    font-size: 22px;
}

.current-song-detail #currentSongArtist {
    font-size: 12px;
}

.lyrics-container {
    width: 100%;
    height: 180px;
    padding: 0.5rem 1rem;
    margin-bottom: 24px;
    overflow-y: auto;
    border-radius: 0.5rem;  
    font-size: 0.85rem;
    line-height: 1.6;    
    background: radial-gradient(circle at top left, rgba(0,0,0,0.2), rgba(0,0,0,0.25));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
}

.lyrics-container .lyric-line {
    color: rgba(255, 255, 255, 0.4);
    transition: color 0.3s ease;
    display: block;
    margin-bottom: 0.2em;
    transition: font-size 0.4s ease-in-out;
}

.lyric-line.current-lyric {
    color: #fff;
    text-shadow: 0 0 5px #fff , 0 0 5px #fff;
    font-size: 0.9rem;
}

.lyrics-container::-webkit-scrollbar {
    width: 8px;
}
.lyrics-container::-webkit-scrollbar-track {
    background: #777777;
    border-radius: 10px;
}
.lyrics-container::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}
.lyrics-container::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 10px #fff;
    cursor: pointer;
}

.progress-bar-container {
    margin-top: 1rem;
}

.progress-bar-container .progress-bar-player {
    width: 100%;
    height: 10px;
    border-radius: 50px;
    background: #777777;
    margin-bottom: 5px;
    cursor: pointer;
    /* overflow: hidden; */
}

.progress-bar-player #currentProgress {
    height: 100%;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 0 10px #fff;
    transition: all 1s linear;
    animation: progress-running 1s linear infinite;
}

.progress-bar-container .display-timer-progress {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.music-player-box .main-controls-player {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.main-controls-player button {
    all: unset;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.main-controls-player button:hover {
    transform: scale(1.2);
    text-shadow: 0 0 10px #fff;
}

.secondary-controls-player {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.secondary-controls-player button {
    all: unset;
    font-size: 1.25rem;
    color: #b3b3b3;
    transition: all 0.4s ease-in-out;
}
.secondary-controls-player button:hover {
    font-size: 1.25rem;
    transform: scale(1.2);
    color: #fff;
}

.secondary-controls-player .volume-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.secondary-controls-player .player-speed-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.secondary-controls-player input[type=range] {
    appearance: none;   
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 50px;
    height: 0.5rem;
    cursor: pointer;
    background: #42424b;
}

.secondary-controls-player input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5px #fff;
}


/*  */


/* progress animation */

@keyframes progress-running {
    0% {
        box-shadow: 0 0 10px #fff;
    }
    50% {
        box-shadow: 0 0 10px #fff , 0 0 10px #fff;
    }
    100% {
        box-shadow: 0 0 10px #fff;
    }
}

/*  */


